server {
  server_name _; # This is just an invalid value which will never trigger on a real hostname.
  listen 80;
  location / {
      root   /usr/share/nginx/html;
      try_files $uri /index.html =404;
  }
}
{{range $dir := lsdir "/services"}}
{{ $service := split (base $dir) ":" }}
upstream {{ index $service 0 }} {
    {{$custdir := printf "/services/%s/*" $dir}}{{range gets $custdir}}
    server {{ .Value }}; # {{ base .Key }}{{end}}
}

server {
    listen {{ index $service 1 }};
    server_name {{ index $service 0 }};
    location / {
        proxy_pass {{ index $service 0 }};
    }
}
{{end}}
